/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
.info_content, .video_content, .footer {
  height: 150px;
  min-height: 150px;
}

/* line 17, ../sass/screen.scss */
.header .logoArea, .header .signup_pitch, .info_content .info_content_left {
  width: 50%;
  height: 200px;
}

/* line 22, ../sass/screen.scss */
.info_content .info_content_right {
  position: absolute;
  top: 0;
  right: 0;
  widows: 50%;
  height: 200px;
}

/* line 30, ../sass/screen.scss */
.header, .info_content, .video_content, .footer {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* line 36, ../sass/screen.scss */
body {
  width: 100%;
  background-color: #fc3136;
}

/* line 41, ../sass/screen.scss */
#secondBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #00508c;
  z-index: -1;
}

/* line 51, ../sass/screen.scss */
#wrapper {
  margin: auto;
  width: 1000px;
}

/* line 56, ../sass/screen.scss */
.header {
  height: 400px;
  min-height: 400px;
  border: 1px #000000 solid;
}
/* line 62, ../sass/screen.scss */
.header .logoArea {
  display: inline-block;
  float: left;
}
/* line 72, ../sass/screen.scss */
.header .curious_spiel {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 400px;
  float: right;
  border: 1px #CCFFFF dotted;
}

/* line 83, ../sass/screen.scss */
.info_content {
  border: 1px #FFFFFF solid;
}

/* line 97, ../sass/screen.scss */
.video_content {
  border: 1px #FFFFCC solid;
}
/* line 102, ../sass/screen.scss */
.video_content .video_area_one, .video_content .video_area_two, .video_content .video_area_three {
  width: 33%;
  height: 200px;
}

/* line 120, ../sass/screen.scss */
.footer {
  border: 1px #CCCCCC solid;
}
